@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 223 14% 15%;
    --card: 0 0% 100%;
    --card-foreground: 223 14% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 14% 15%;
    --primary: 168 25% 58%;
    --primary-foreground: 223 14% 10%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 168 25% 58%;
    --accent-foreground: 223 14% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 168 25% 58%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 223 14% 15%;
    --foreground: 0 0% 98%;
    --card: 220 15% 25%;
    --card-foreground: 0 0% 98%;
    --popover: 223 14% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 168 25% 58%;
    --primary-foreground: 223 14% 10%;
    --secondary: 220 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 15% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 168 25% 58%;
    --accent-foreground: 223 14% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 25%;
    --input: 220 15% 25%;
    --ring: 168 25% 58%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
